@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  /* color-scheme: light dark; */
  /* background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  /* display: flex; */
  /* place-items: center; */
  width: 100%;
  /* min-width: 320px; */
  min-height: 100vh;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}



